@page
@model SaleRazorPage.Pages.Thicknesses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Thickness</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Thickness.Name" class="control-label"></label>
                <input asp-for="Thickness.Name" class="form-control" />
                <span asp-validation-for="Thickness.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness.NameUnAccent" class="control-label"></label>
                <input asp-for="Thickness.NameUnAccent" class="form-control" />
                <span asp-validation-for="Thickness.NameUnAccent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness.Size" class="control-label"></label>
                <input asp-for="Thickness.Size" class="form-control" />
                <span asp-validation-for="Thickness.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness.Description" class="control-label"></label>
                <input asp-for="Thickness.Description" class="form-control" />
                <span asp-validation-for="Thickness.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thickness.Image" class="control-label"></label>
                <input asp-for="Thickness.Image" class="form-control" />
                <span asp-validation-for="Thickness.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
