@page
@model SaleRazorPage.Pages.SubTypeHairs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SubTypeHair</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubTypeHair.TypeHairId" />
            <input type="hidden" asp-for="SubTypeHair.CategoryId" />
            <input type="hidden" asp-for="SubTypeHair.ColorId" />
            <input type="hidden" asp-for="SubTypeHair.SubTypeName" />
            <div class="form-group">
                <label asp-for="SubTypeHair.SubTypeNameUnAccent" class="control-label"></label>
                <input asp-for="SubTypeHair.SubTypeNameUnAccent" class="form-control" />
                <span asp-validation-for="SubTypeHair.SubTypeNameUnAccent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTypeHair.Description" class="control-label"></label>
                <input asp-for="SubTypeHair.Description" class="form-control" />
                <span asp-validation-for="SubTypeHair.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTypeHair.Image" class="control-label"></label>
                <input asp-for="SubTypeHair.Image" class="form-control" />
                <span asp-validation-for="SubTypeHair.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
