﻿
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    
    <!-- Header-->
    <header class="mb-4">
        <img src="https://bookbuy.vn/Res/Images/Album/9210ad11-08b5-4fae-a5fe-7556343ca9e9.jpg?w=880&scale=both&h=320&mode=crop" width="100%" />
    </header>
    <form method="post" class="text-center">
        <div class="form-group d-flex justify-content-center align-items-center">
            <label for="CategoryId" class="col-form-label font-weight-bold mb-0">Loại tóc</label>
            <select asp-for="CategoryId" class="form-control w-25 ms-2" asp-items="ViewBag.CategoryId"></select>
            <label for="TypeHairId" class="col-form-label font-weight-bold mb-0 ms-5">Kiểu tóc</label>
            <select asp-for="TypeHairId" class="form-control w-25 ms-2" asp-items="ViewBag.TypeHairId"></select>
        </div>
        <div class="form-group d-flex justify-content-center align-items-center mt-3">
            <label for="ColorId" class="col-form-label font-weight-bold mb-0 ms-5">Màu tóc</label>
            <select asp-for="ColorId" class="form-control w-25 col-form-label me-2 font-weight-bold ms-2 " asp-items="ViewBag.ColorId">
                
            </select>
            <input asp-for="Search" class="form-control w-50 col-form-label me-2" />
            <button class="btn btn-primary" type="submit" style="width:90px">Search</button>
        </div>
    </form>
    
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach(var item in Model.Categories)
                {
                    <div class="col mb-5">
                        <div class="card h-100 border shadow rounded-3">
                            <!-- Product image-->
                            <a href="./Books/Details?id=@item.Id">
                                <img class="card-img-top"  src="@item.Image" alt="..." />
                            </a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Test</h5>
                                    <!-- Product price-->
                                    <span>Test</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                                <div class="text-center" onclick="submitForm(this)">
                                    <form method="post" id="myForm" asp-page-handler="AddCart" asp-page="/Index">
                                        <input type="hidden" value="@item.Id" name="id" />
                                    </form>
                                    <a class="btn btn-outline-dark mt-auto" href="javascript:void(0);">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
                     
                
            </div>
        </div>
    </section>
    <!-- Footer-->
   
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
<script>
    function submitForm(element) {
        var form = element.querySelector('form');
        form.submit();
    }
    
</script>

@if (Model.showAlert)
{
    <script>
        alert('@Model.alertMessage');
    </script>
}

</html>